.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px; */
  border-bottom: 1px solid #ccc;
  height: 84px;
}

.header h1 {
  color: #DDB7FF;
  font-size: 48px;
  font-weight: 700;
}

.menu ul {
  display: flex;
  gap: 20px;
}