.header {
  display: flex;
  align-items: center;
  justify-content: space-between;


  height: 84px;
}

.header h1 {
  color: #DDB7FF;
  font-size: 48px;
  font-weight: 700;
}

.menu ul {
  display: flex;
  gap: 20px;
}

.menu ul a {
  position: relative;
}

a :hover {
  color: #DDB7FF;
}

.link-line {
  height: 1px;
  width: 0;
  background-color: #DDB7FF;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

.menu ul a:hover .link-line {
  width: 100%;
  left: 0;
  transform: translateX(0);
}